body {
	background-image: url("../images/background.png");
	background-size: 100%, 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

h1 {
	text-align:center;
	padding-top: 10px; 

}

.search_box {
	width: 60%;
	padding: 40px;
	background-color:#000000;
	opacity: 0.2;
	margin: auto;
	text-align: center;
}


label, .blank {
	color: #ffffff;
	display: inline-block;
    width: 150px;
	text-align: right;
}
.input_text, .err {
	display: inline-block;
    width: 200px;
	text-align: left;
}


.submit_box {
	position: relative;
	top: +10px;
}
button {
	width: 60px;

}

table {
	margin-right: auto;
	margin-left: auto;
	width: 85%;
	visibility: hidden;
}

tr:nth-child(odd) {
	background-color: #A9A9F5;
}

table th {
	background-color: #01A9DB;
	text-align: center;
}
table,th,td {
   border: 1px solid black;
}

#image {
	width: 40px;
	height: 40px;
}
